body {
  background-color: #c88bee;
  text-align: center;
}
hr{
 border-top: 10px #c88bee;
}
  
p {
  background: #c88bee;
  font-size: 25px;
  font-color: #020003;
  font-family: Italic;
  font-weight: bold;
}
img {
  margin: 25px;
  width:600px;
  height: 300px;
}

a {
  display: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  font-family: Italic;
}
  
