<html>
<head>
<style>
body {
  background-color: #c88bee;
}
</style>
</head>
<body>

body {
  text-align: center;
}
p {
  background: #c88bee;
}
img {
  margin: 15px;
  width:450px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
  
