.dropdown{
  display: inline-block;
}

.dropdown button{
  background-color: rgba(133, 45, 141);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content{
  display: none;
  position: absolute:
  background-color: rgba(213, 32, 32);
  min-width: 100px;
  box-shadow: 1px 3px 30px 1px #9100B2;
  }

.dropdown:hover .content{
  display: block;
}

.dropdown:hover button{
  background-color: rgba(188, 91, 196);
}

.dropdown a:hover{
   background-color: rgba(188, 91, 196);
}

.banner{
  background-color: rgba(213, 32, 32);
  margin: 15px;
  padding: 10px;
  border: 3px solid #9735CF;
  box-shadow: 1px 3px 30px 1px #9100B2;
  text-transform: capitalize;
  text-shadow: 1px 1px #7551C9 ;
  font-family: Italic;
  font-size: 25px;
  height: 150px;
  text-align: right;
  font-style: oblique;
  background-image: url('background2.gif');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}

h1{
  font-size: 0.7em;
}

#l1{
  border:#9735CF 3px solid;
  background-image:repeating-linear-gradient(	#CBA8D3, #D79DC8);
}
body{
  background-color: rgba(243, 220, 248);
}

.container{
  background-color: rgba(213, 32, 32);
  margin: 15px;
  padding: 10px;
  border: 3px solid #9735CF;
  box-shadow: 1px 3px 30px 1px #9100B2;
  text-transform: capitalize;
  text-shadow: 1px 1px #7551C9;
  font-family: Italic;
  font-size: 25px;
  height: 1000px;
  text-align: left;
  font-style: oblique;
  background-image: url('background2.gif');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}

#logo{
  width: 120px;
  position: absolute;
  left: 50px;
}

#logo2{
  width: 120px;
  position: absolute;
  right: 50px;
}

